:root {
  --videoSize: calc(140svh + 12vw);
}

#factories-animations-container {
  --left: 300vw; /* should animate to 100.5vw to be shown*/
  --max-left: 200vw;
  --top: 100svh; /* should animate to -2svh */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: clamp(4rem, calc(var(--left) - 117svh), var(--max-left));
  top: var(--top);
  pointer-events: none;
}

#factories-animations-container img {
  height: 100%;
  width: 100%;
}

#factories-animations-container img.mobile {
  display: none;
}

.image__2 {
  position: absolute;
  bottom: calc(-0.7 * var(--videoSize));
  right: calc(-0.55 * var(--videoSize));
}

.image__3 {
  position: absolute;
  bottom: calc(-0.63 * var(--videoSize));
  right: calc(-0.55 * var(--videoSize));
}

.image__4 {
  position: absolute;
  bottom: calc(-0.68 * var(--videoSize));
  right: calc(-0.55 * var(--videoSize));
}

.image__5 {
  position: absolute;
  bottom: calc(-0.535 * var(--videoSize));
  right: calc(-0.55 * var(--videoSize));
  transform: scale(1.25);
  z-index: 10;
}

.image__container {
  width: var(--videoSize);
  height: var(--videoSize);
  position: relative;
}

.draggable-box {
  --drag-x: 0px;
  --drag-y: 0px;
}

@media screen and (max-width: 768px) {
  :root {
    --videoSize: 70svh;
  }

  #factories-animations-container img.mobile {
    display: block;
  }

  #factories-animations-container {
    --left: 300vw; /* should animate to 115vw to be shown*/
    --max-left: 200vw; /* 40vw */
    --top: 100svh; /* 5svh */
    left: clamp(1rem, calc(var(--left) - 50svh), var(--max-left));
    top: var(--top);
  }

  #factories-animations-container img:not(.mobile) {
    display: none;
  }

  .image__2 {
    position: absolute;
    bottom: calc(-0.371 * var(--videoSize));
    right: calc(-0.571 * var(--videoSize));
  }

  .image__3 {
    position: absolute;
    bottom: calc(-0.4 * var(--videoSize));
    right: calc(-0.643 * var(--videoSize));
  }

  .image__4 {
    position: absolute;
    bottom: calc(-0.386 * var(--videoSize));
    right: calc(-0.643 * var(--videoSize));
  }

  .image__5 {
    position: absolute;
    bottom: calc(-0.357 * var(--videoSize));
    right: calc(-0.629 * var(--videoSize));
  }
}

@media screen and (min-width: 768px) and (max-aspect-ratio: 1/1) {
  :root {
    --videoSize: 100svh;
  }

  #factories-animations-container img.mobile {
    display: block;
  }

  #factories-animations-container {
    left: 10vw;
    top: 5svh;
  }

  #factories-animations-container img:not(.mobile) {
    display: none;
  }

  .image__2 {
    position: absolute;
    bottom: calc(-0.371 * var(--videoSize));
    right: calc(-0.571 * var(--videoSize));
  }

  .image__3 {
    position: absolute;
    bottom: calc(-0.4 * var(--videoSize));
    right: calc(-0.643 * var(--videoSize));
  }

  .image__4 {
    position: absolute;
    bottom: calc(-0.386 * var(--videoSize));
    right: calc(-0.643 * var(--videoSize));
  }

  .image__5 {
    position: absolute;
    bottom: calc(-0.357 * var(--videoSize));
    right: calc(-0.629 * var(--videoSize));
  }
}

.typewriter-char {
  pointer-events: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
