/* overlfow hidden until hero shown */
body {
  overflow: hidden;
}

#factories-animations-container {
  --left: 300vw; /* should animate to 100.5vw to be shown*/
  --max-left: 200vw;
  --top: 100vh; /* should animate to -2vh */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: clamp(4rem, calc(var(--left) - 117vh), var(--max-left));
  top: var(--top);
}
#factories-animations-container img {
  height: 100%;
  width: 100%;
}

#factories-animations-container img.mobile {
  display: none;
}

.image__2 {
  position: absolute;
  bottom: -108vh;
  right: -84vh;
}

.image__3 {
  position: absolute;
  bottom: -108vh;
  right: -85vh;
}

.image__4 {
  position: absolute;
  bottom: -106vh;
  right: -85vh;
}

.image__5 {
  position: absolute;
  bottom: -85vh;
  right: -87vh;
}

.image__container {
  --size: calc(140vh + 12vw);
  width: var(--size);
  height: var(--size);
  position: relative;
}

/* #white-text-box-1 { */
/*   position: fixed; */
/*   top: 27vh; */
/*   left: 8vw; */
/* } */
/**/
/* #white-text-box-2 { */
/*   position: fixed; */
/*   top: 14vh; */
/*   left: 6vw; */
/* } */
/**/
/* #white-text-box-3 { */
/*   position: fixed; */
/*   top: 16vh; */
/*   left: 4vw; */
/* } */
/**/
/* #white-text-box-4 { */
/*   position: fixed; */
/*   top: 15vh; */
/*   left: 6vw; */
/* } */
/* #white-text-box-5 { */
/*   position: fixed; */
/*   top: 16vh; */
/*   left: 5vw; */
/* } */
/**/
/* #draggable-box-1 { */
/*   position: fixed; */
/*   top: 52vh; */
/*   left: 14vw; */
/* } */
/* #draggable-box-2 { */
/*   position: fixed; */
/*   top: 68vh; */
/*   left: 23vw; */
/* } */
/* #draggable-box-3 { */
/*   position: fixed; */
/*   top: 40vh; */
/*   left: 10vw; */
/* } */
/* #draggable-box-4 { */
/*   position: fixed; */
/*   top: 38vh; */
/*   left: 8vw; */
/* } */
/* #draggable-box-5 { */
/*   position: fixed; */
/*   top: 35vh; */
/*   left: 6vw; */
/* } */
/* #draggable-box-6 { */
/*   position: fixed; */
/*   top: 62vh; */
/*   left: 29vw; */
/* } */
/* #partner-marquis { */
/*   position: fixed; */
/*   top: 56vh; */
/*   left: 7vw; */
/*   bottom: unset; */
/* } */
/* #community-buttons { */
/*   position: fixed; */
/*   top: 72vh; */
/*   left: 9vw; */
/*   bottom: unset; */
/* } */

.station-1 {
  outline: 1px solid red;
}
.station-wrapper .spacer {
  outline: 1px solid yellow;
}

/* .draggable-box { */
/*   height: max-content; */
/* } */

@media screen and (max-width: 768px) {
  .image__container {
    --size: 70vh;
  }

  #factories-animations-container img.mobile {
    display: block;
  }

  #factories-animations-container {
    --left: 300vw; /* should animate to 115vw to be shown*/
    --max-left: 200vw; /* 40vw */
    --top: 100vh; /* 5vh */
    left: clamp(1rem, calc(var(--left) - 50vh), var(--max-left));
    top: var(--top);
  }

  #factories-animations-container img:not(.mobile) {
    display: none;
  }

  .image__2 {
    position: absolute;
    bottom: -26vh;
    right: -40vh;
  }

  .image__3 {
    position: absolute;
    bottom: -32vh;
    right: -50vh;
  }

  .image__4 {
    position: absolute;
    bottom: -32vh;
    right: -50vh;
  }

  .image__5 {
    position: absolute;
    bottom: -28vh;
    right: -48vh;
  }

  /* #white-text-box-1 { */
  /*   position: fixed; */
  /*   top: 55vh; */
  /*   left: 2rem; */
  /* } */
  /**/
  /* #white-text-box-2 { */
  /*   position: fixed; */
  /*   top: 48vh; */
  /*   left: 2rem */
  /* } */
  /**/
  /* #white-text-box-3 { */
  /*   position: fixed; */
  /*   top: 16vh; */
  /*   left: 2rem */
  /* } */
  /**/
  /* #white-text-box-4 { */
  /*   position: fixed; */
  /*   top: 15vh; */
  /*   left: 2rem */
  /* } */
  /* #white-text-box-5 { */
  /*   position: fixed; */
  /*   top: 16vh; */
  /*   left: 2rem */
  /* } */
  /**/
  /* #draggable-box-1 { */
  /*   position: fixed; */
  /*   top: 75vh; */
  /*   left: 1.45rem; */
  /* } */
  /* #draggable-box-2 { */
  /*   position: fixed; */
  /*   top: 84vh; */
  /*   left: 1.45rem; */
  /* } */
  /* #draggable-box-3 { */
  /*   position: fixed; */
  /*   top: 71vh; */
  /*   left: 1.45rem; */
  /* } */
  /* #draggable-box-4 { */
  /*   position: fixed; */
  /*   top: 38vh; */
  /*   left: 1.45rem; */
  /* } */
  /* #draggable-box-5 { */
  /*   position: fixed; */
  /*   top: 35vh; */
  /*   left: 1.45rem; */
  /* } */
  /* #draggable-box-6 { */
  /*   position: fixed; */
  /*   top: 62vh; */
  /*   left: 1.45rem; */
  /* } */
  /* #partner-marquis { */
  /*   position: fixed; */
  /*   top: 56vh; */
  /*   left: 1.45rem; */
  /*   bottom: unset; */
  /* } */
  /* #community-buttons { */
  /*   position: fixed; */
  /*   top: 72vh; */
  /*   left: 1.45rem; */
  /*   bottom: unset; */
  /* } */
}

.typewriter-char {
  pointer-events: none;
}

#custom-cursor {
  position: fixed;
  display: block !important;
  pointer-events: none;
  z-index: 9999;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
}

#custom-cursor svg,
#custom-cursor svg path {
  stroke: var(--tertiary);
  fill: var(--secondary);
  transition: all 0.3s;
}

#custom-cursor.blueprint.is-hovered svg {
  path {
    fill: white;
    stroke: transparent;
  }
  transform: scale(1.25);
}

#custom-cursor.blueprint svg path {
  stroke: white;
  fill: none;
}

#custom-cursor.drag svg path {
  stroke: var(--tertiary);
  fill: none;
}

#custom-cursor.drag.is-hovered svg {
  path {
    fill: var(--secondary);
  }
  transform: scale(1.2) rotate(60deg);
}

#custom-cursor.is-hovered svg {
  transform: rotate(60deg) scale(1.5);
  path {
    fill: var(--secondary);
    stroke: var(--secondary);
  }
}

html,
body,
* {
  cursor: none !important;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
